@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

body * {
	box-sizing: border-box;
}

.danger {
	background: rgb(252, 60, 60);
	border-radius: 10px;
	box-shadow: 0px 10px 40px #00000056;
	box-sizing: border-box;
	color: #fffdf6;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: none;
}

.main-login {
	width: 100vw;
	height: 100vh;
	background: #231f20;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-login {
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.left-login > h1 > a{
	color: #b8965b;
	font-size: 3vw;
}

.left-login-image {
	width: 60%;
}

.right-login {
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-login {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 35px;
	/*background: #d9d9d9; */
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
	color: #b8965b;
	font-weight: 800;
	margin: 0;
}

.form-login{
	width: 100%;
}

.textfield {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 10px 0px;
	width: 100%;
}

.textfield > input {
	width: 100%;
	border: none;
	border-radius: 10px;
	padding: 15px;
	background: #fffdf6;
	color: #b8965b;
	font-size: 12pt;
	box-shadow: 0px 10px 40px #00000056;
	outline: none;
	box-sizing: border-box;
}

.textfield > label {
	color: #b8965b;
	margin-bottom: 10px;
}

.textfield > input::placeholder {
	color: #b8965b;
}

.btn-login {
	width: 100%;
	margin-top: 10px;
	padding: 16px 0px;
	border: none;
	border-radius: 8px;
	outline: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3px;
	color: #fffdf6;
	background: #231f20;
	cursor: pointer;
	box-shadow: 0px 10px 40px -12px #00000056;
}
@media only screen and (max-width: 950px) {
	.card-login{
		widht: 85%;
	}
}

@media only screen and (max-width: 600px) {
	.main-login{
		flex-direction: column;
	}

	.left-login > h1 {
		display: none;
	}

	.left-login {
		width: 100%;
		height: auto;
	}

	.right-login {
		width: 100%;
		height: auto;
	}
	
	.card-login {
		width: 90%;
		}
	


}






